
		#messages { list-style-type: none; margin: 0; padding: 0; }
		#messages li.customer-error { color: red; }
		#agent
		{
			width:365px;
			height:510px;
			border: 1px solid #FFF;
			border-color:rgb(189, 199, 216);
			border-radius: 15px;
			border-bottom-color:rgba(0, 0, 0, 0.1);
			border-bottom-style:solid;
			border-bottom-width:1.325px;
			box-shadow: 5px 2px 5px 2px #f2f794;
			z-index:1000000;
			background-color:#fff;
			position:fixed;
			bottom:30px;
			left:50px;
			z-index:1000000!important;
			
		  
		}
		#botheader
		{
			
			width:366px;
			height:50px;
			background-color:#18bae2;
			border-top-left-radius: 15px;
			border-top-right-radius:15px;
		}
		
		.custmsg
		{

			padding-top:5px;
			background-color: rgb(0, 132, 255);
			border-bottom-left-radius: 1.3em;
			border-top-left-radius: 1.3em;
			color: #fff;
			float: right;
			clear: both;
			display: block;
			font-size: 12pt;
			line-height: 15pt;
			margin: 1pt 0;
			max-width: 90%;
			padding: 6pt 9pt;
			font-size:13px;
			font-family: 'Nanum Pen Script', cursive;

		}
		.botmsg
		{
			padding-top:5px;
			background-color: #eee;
			border-bottom-right-radius: 1.3em;
			border-top-right-radius: 1.3em;
			color: #000;
			float: left;
			clear: both;
			display: block;
			font-size: 12pt;
			line-height: 15pt;
			margin: 1pt 0;
			max-width: 90%;
			padding: 6pt 9pt;
			font-size:13px;
			
		}
		.botheader
		{
			align-items: center;
			border-bottom: 1pt solid rgba(0, 0, 0, .1);
			display: flex;
			flex-basis: 10%;
			justify-content: space-between;
			max-height: 48pt;
			min-height: 36pt;
			text-align: center;
			cursor:pointer;
		}
		.bot-title
		{
			font-family: 'Indie Flower', cursive;
			color:white;
			font-size:1.5em;
			padding-right:33%;
		}
		.version_num
		{
			font-size:10px;
		}
		.min-button
		{
			margin-left:5pt;
			width:50px;
			cursor:pointer;
		}
		.min-button>img
		{
			
			width:25px;
			height:25px;
			background-color: #fff;
			border-radius: 50%;
			z-index:1000000!important;
		}
		#messenger-img
		{
			
			height:70px;
			width:70px;
			cursor:pointer;
			position:fixed;
			bottom:30px;
			left:40px;
			
			z-index:100000;
		}
		#messenger-img>img
		{
			padding-top:10px;
			padding-left:10px;
			width:50px;
			height:50px;
			z-index:100000;
		}
		#minbtnimg
{
	z-index:1000000!important;
}
.popupmodal {
	font-family: 'Indie Flower', cursive;
	font-size:1.5em;
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.popupmodal-content {
    background-color: #b6d17a;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	color:white;
}

/* The Close Button */
.popupclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
-
.popupclose:hover,
.popupclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
